<html>
<head>
    <title><%= title %></title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <style>
        .page-header {
            padding-bottom: 9px;
            margin: 10px 0 20px;
            border-bottom: 1px solid #eee;
        }
    </style>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- <script src="/vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="/js/sb-admin.min.js"></script>
    <script src="/js/sb-admin-datatables.min.js"></script>
    <script src="/js/sb-admin-charts.min.js"></script>

    <script src = "/socket.io/socket.io.js"></script>


</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top" ondragstart="return false">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/user">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/user">
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/user/outlet">
                        <span class="nav-link-text">Outlet</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/user/create-guest">
                        <span class="nav-link-text">Create Guest</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/user/scan">
                        <span class="nav-link-text">View Guest</span>
                    </a>
                </li>
               
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/user/link-chip">
                        <span class="nav-link-text">Link Chip With Guest</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/user/look">
                        <span class="nav-link-text">Look Up</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= data.username %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/profile-edit">Edit Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container">
            <% if (messages.success){ %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong><%- messages.success %></strong>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if (messages.error){ %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong><%- messages.error %></strong>
                        </div>
                    </div>
                </div>
            <% } %>
            <%- include(content) %>
        </div>
    </div> 
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->


        
</body>
</html>