<script>

    var socket = io();
    socket.on('pesan', function(data){

        var cek = data.error;
        var message = data.message;
        var dataScan = data.data;
        var transaction = data.transaction;

        if(cek === "true"){
            $("#nfcId").val(dataScan);
            $("#message").html("The NFC Tag ready to use");
            $("#message").css("color","green");
            $("#button").removeAttr("disabled");
        }else{
            $("#nfcId").val(dataScan.nfcIc);
            $("#message").html("The NFC Tag already use");
            $("#message").css("color","red");
            $("#button").attr("disabled","disabled");
        }
    })
    
</script>

<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h5>Create Guest</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="POST" action="/user/create-guest" enctype="multipart/form-data">
            <div class="row"  style="margin: 20px 0px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nfcId">NFC ID</label>
                        <input type="text" class="form-control" readonly name="nfcId" id="nfcId" value="">
                        <h6 style="color:red" id="message">Please swipe the NFC Tag to Register New Guest</h6>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name"  placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="name">Address</label>
                        <textarea class="form-control" name="address" id="address"  placeholder="address" ></textarea>
                    </div>
                </div>
                <div class="col-md-6">    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" id="email"  placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="number" class="form-control" name="phone" id="phone"  placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="image">Image/Photo</label>
                        <input type="file" class="form-control" name="image" id="image">
                    </div>
                    <button type="submit" class="btn btn-success btn-scan" id="button">Submit</button>
                    
                </div>
            </div>
        </form>
    </div>
</div>