<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h5>Detail Guest <strong><%= results.name %></strong></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="POST" action="/user/create-guest" enctype="multipart/form-data">
            <div class="row"  style="margin: 20px 0px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name"  value="<%= results.name %>" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="name">Address</label>
                        <textarea class="form-control" name="address" id="address" placeholder="address" ><%= results.address %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" id="email"  value="<%= results.email %>" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="number" class="form-control" name="phone" id="phone"  value="<%= results.phone %>" placeholder="Phone">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>