<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Guest Found</h1>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/user/receipt">
            <%= outlet.id %>
            <div class="form-group row">
                <label for="Outlet" class="col-sm-2 col-form-label">Outlet</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly name="outlet" id="outlet" value="<%= outlet.name %>" placeholder="Outlet">
                </div>
            </div>
            
            <div class="form-group row">
                <label for="Outlet" class="col-sm-2 col-form-label">NFCID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly name="nfcId" id="nfcId" value="<%= dataGuest.nfcId%>" placeholder="NFCID">
                </div>
            </div>
            <div class="form-group row">
                <label for="Outlet" class="col-sm-2 col-form-label">Member ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly name="memberId" id="memberId" value="<%= dataGuest.memberId%>" placeholder="Member ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="Outlet" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly name="name" id="name" value="<%= dataGuest.name%>" placeholder="Name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


    