<script>
        $( document ).ready(function() {
            $(".print-guest").on("click", function () {
                var url = $(this).data("url");
                var mywindow = window.open(url, "print guest", "height=500,width=500");
                
            });
            $(".print").on("click", function () {
                var url = $(this).data("url");
                var mywindow = window.open(url, "print", "height=500,width=500");
                
            });
        });
    

    </script>
<div class="row"> 
    <div id="coba"></div>
    <div class="col-md-6">
        <div class="page-header">
            <h1>Todo List</h1>
        </div>
    </div>
</div> 

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="print-tab" data-toggle="tab" href="#print" role="tab" aria-controls="print" aria-selected="true">Print</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="guest-list-tab" data-toggle="tab" href="#guest-list" role="tab" aria-controls="guest-list" aria-selected="false">Guest List</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="print" role="tabpanel" aria-labelledby="print-tab">
        <table class="table table-bordered" style="margin: 20px 0px;">
            <thead>
                <tr>
                    <td>#</td>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Receipt</th>
                    <th>Time</th>
                    <th>Print</th>
                </tr>
            </thead>
            <tbody>
                <%  
                    if(printList != null){

                        var no = 1;
                        printList.forEach(function(print){
                %>  
                            <tr>
                                <td><%= no %>.</td>
                                <td><%= print.name %> </td>
                                <td><%= print.phone %></td>
                                <td><%= print.receipt %></td>
                                <td><%= print.createdAt %></td>
                                <!-- <td><i class="printguest" style="cursor: pointer" data-url="/user/print-guest" data-id="<%= print.id %>">PRINT</i></td> -->
                                <!-- <td><a href="/user/print/<%= print.id %>">PRINT</a></td> -->
                                <td><i class="print" style="cursor: pointer" data-url="/user/print/<%= print.id %>">PRINT</i></td>
                            </tr>
                <%  
                            no++;
                        })

                    }else{
                %>
                        <tr>
                            <td colspan="7">Data Null</td>
                        </tr>

                <%
                    }
                    
                %>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="guest-list" role="tabpanel" aria-labelledby="guest-list-tab">
        <table class="table table-bordered" style="margin: 20px 0px;">
            <thead>
                <tr>
                    <td colspan="9"><a href="/user/create-guest" class="btn btn-success pull-right" >Create Guest</a></td>
                </tr>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Membership ID</td>
                    <td>Address</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td colspan="2">Action</td>
                </tr>
            </thead>
            <tbody>
                <%  
                    if(guestList != null){  
                        var no = 1;
                        guestList.forEach(function(guest){
                %>  
                            <tr>
                                <td><%= no %></td>
                                <td><%= guest.name %></td>
                                <td><%= guest.membershipId %></td>
                                <td><%= guest.address %></td>
                                <td><%= guest.email %></td>
                                <td><%= guest.phone %></td>
                                <!-- <td><a href="/user/update/<%= guest.guestId %>">Edit</a></td> -->
                                <td><i class="print-guest" style="cursor: pointer" data-url="/user/print-guest/<%= guest.guestId %>">PRINT</i></td>
                                <!-- <td><a href="/user/print-guest/<%= guest.guestId %>">PRINT</a></td> -->
                            </tr>
                <%  
                            no++;
                        })
                    }else{
                %>
                        <tr>
                            <td colspan="7">Data Null</td>
                        </tr>

                <%
                    }
                    
                %>
            </tbody>
        </table>
    </div>
</div>