<script>
    var socket = io();
    socket.on('nfcId', function(data){
        if(confirm("Apakah anda akan mengubah NFC ID lama dengan NFC ID yang baru ")){
            $("#show-input").css("display","block");
            $("#show-input").css("background","red");
            $("#hr").css("display","block");
            $("#new-nfcId").val(data.uid);
        }else{
            return false;
        }

        // console.log(data.uid);

        var nfcId = data.uid;


        // var message = data.message;
        // var dataScan = data.data;

        // if(error === "true"){
        //     if(confirm(dataScan+" "+message+", Lanjut membuat user baru?")){
        //         location.href='/user/create-guest/'+dataScan;
        //     }else{
        //         return false;
        //     }
        // }else{
        //     $("#data-guest").css("display","block");

        //     $("#new-nfcId").val(dataScan.nfcIc);
        // }

        
    });
</script>
<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Linked</h1>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-md-12">
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nfcId">Old NFC ID</label>
                        <input type="text" class="form-control" name="nfcId" id="nfcId" value="<%= results.nfcIc %>">
                    </div>
                    <hr id="hr" style="display:none">
                    <div class="form-group" id="show-input" style="display:none">
                        <label for="new-nfcId">New NFC ID</label>
                        <input type="text" class="form-control" name="new-nfcId" id="new-nfcId">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name"  value="<%= results.name %>">
                    </div>
                    <div class="form-group">
                        <label for="name">Address</label>
                        <textarea class="form-control" name="address" id="address" placeholder="address" ><%= results.address %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="number" class="form-control" name="phone" id="phone" placeholder="Phone" value="<%= results.phone %>">
                    </div>
                    <!-- <div class="form-group">
                        <label for="image">Image/Photo</label>
                        <input type="file" class="form-control" name="image" id="image">
                    </div> -->

                    <button type="submit" class="btn btn-success btn-scan">Submit</button>
                </div>
            </div>

        </form>

    </div>
</div>