<script>
    var socket = io();
    socket.on('nfcId', function(data){

        var nfcId = data.uid;

    	$("#lookup-choice").css("display","block");
    	$("#nfcId").val(nfcId);
    	$("#lookup").attr("href","/user/lookup/"+nfcId);

        
    });
</script>
<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Link Chip With Guest Page</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" id="text-message">
            <div class="col-md-12">
            	Please swipe the NFC Tag to Register New Guest
            </div>
        </div>
        <div class="row" id="lookup-choice" style="display: none">
        	<div class="col-md-6">
				<div class="form-group">
					<label for="nfcId">NFC Tag ID</label>
					<input type="text" class="form-control" name="nfcId" id="nfcId">
				</div>
        		<a href="#" class="btn btn-success btn-scan" id="lookup">Lookup</a>
        	</div>
        </div>
    </div>
</div>