<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Lookup</h1>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <form method="POST" action="/user/look">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="By Name" value="<%= input.name %>">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="By Email" value="<%= input.email %>">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="By Phone" value="<%= input.phone %>">
                    </div>
                    <div class="form-group">
                        <label for="membershipId">Membership</label>
                        <input type="text" class="form-control" name="membershipId" id="membershipId" placeholder="By Membership Number" value="<%= input.membershipId %>">
                    </div>
                    <button type="submit" class="btn btn-success btn-scan">Submit</button>
                </form>
            </div>
            <% 
                if(results != "" && results !=null){        
            %>
                <div class="col-md-8">
                    <h5>Results :</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Phone</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <%  
                                var no = 1;
                                results.forEach(function(result){
                            %>  
                                    <tr>
                                        <td><%= no %></td>
                                        <td><%= result.name %></td>
                                        <td><%= result.email %></td>
                                        <td><%= result.phone %></td>
                                        <td><a href="/user/detail-guest/<%= result.guestId %>">Detail</a></td>
                                    </tr>
                            <%  
                                    no++;
                                })
                                
                            %>
                        </tbody>
                    </table>
                </div>
            <%
                }
            %> 

        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</div>
