<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Data Outlet</h1>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-md-6">
        <form action="/user/outlet" method="post">
            <div class="form-group">
                <label for="outlet">Pilih Outlet</label>
                <select name="outlet" id="outlet" class="form-control">
                    <option value="">--Please Select--</option>
                    <% dataOutlet.forEach(function(outlet){ %>
                        <% 
                            if(outlet.id==dataSelect){
                                var selected = "selected";
                            }else{
                                var selected = "";
                            }
                        %>
                        <option value="<%= outlet.id %>" <%= selected %> ><%= outlet.name %></option>
                    <% }) %>
                </select>
            </div>
    
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>