<script>    
    window.print();
    setTimeout(function () {
        window.close();
    }, 5000); 
</script>
<table width="290">
    <tr>
        <th colspan="3" style="text-align: center;padding:3px"><%= results.hotelName %></th>
    </tr>
    <tr>
        <th colspan="3" style="text-align: center;padding:10px">Check in</th>
    </tr>
    <tr>
        <td>To</td>
        <td>:</td>
        <td><%= results.guestName %></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>:</td>
        <td><%= results.address %></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>:</td>
        <td><%= results.phone %></td>
    </tr>
    <tr>
        <td>Receipt</td>
        <td>:</td>
        <td><%= results.receipt %></td>
    </tr>
</table>

<p>&nbsp;</p>

Comment & Suggestion, Please SMS to <span class="text-info">+62857.7071.7273</span>
<br>
Thank You
<hr style="margin:50px 0px;">