<script>    
    window.print();
    setTimeout(function () {
        window.close();
    }, 5000); 
</script>
    
<table width="290">
    <tr>
        <td colspan="4" style="text-align: center"><h1><strong><%= results.hotel %></strong></h1></td>
    </tr>
    <tr bordercolor="#333333">
        <td align="left" colspan="4" style="text-align: center"><b></b></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td colspan="4"><%= results.name %></td>
    </tr>
    <tr>
        <td>Membership:</td>
        <td colspan="4"><%= results.membershipId %></td>
    </tr>

    <tr><td>Address:</td><td colspan="3"><%= results.address %></td></tr>
    <tr>
        <td>Phone:</td>
        <td colspan="4"><%= results.phone %></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td colspan="4"><%= results.email %></td>
    </tr>
    <tr>
        <td>Expired:</td>
        <td colspan="4"><%= results.expireDate %></td>
    </tr>
    <!-- <tr>
        <td>Photo:</td>
        <td colspan="4"><%= results.thumb %></td>
    </tr> -->
</table>
<hr style="margin:50px 0px;">
