<div class="row">
    <div class="col-md-6">

        <form>
            <div class="form-group">
                <label for="Username">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="" placeholder="your Name">
            </div>
            <div class="form-group">
                <label for="Username">Email</label>
                <input type="text" class="form-control" name="email" id="email" value="" placeholder="Your Email">
            </div>
            
        </form>

    </div>
</div>

