<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Edit Profile</h1>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/user/profile-edit">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="Password">New Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="New Password">
            </div>
            <div class="form-group">
                <label for="NewPassword">Verify New Password</label>
                <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Verify New Password">
            </div>
            <button type="submit" class="btn btn-success btn-scan">Submit</button>
            
        </form>

    </div>
</div>
