<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Print Receipt Page</h1>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/user/receipt">
            <div class="form-group">
                <label for="nfcId">NFCID</label>
                <input type="text" class="form-control" name="nfcId" id="nfcId" value="" placeholder="NFCID">
            </div>
            <div class="form-group">
                <label for="receipt">Receipt</label>
                <input type="text" class="form-control" name="receipt" id="receipt" value="" placeholder="Receipt">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


