<script>
    var socket = io();
    socket.on('pesan', function(data){

        var error = data.error;
        var message = data.message;
        var dataScan = data.data;
        var transaction = data.transaction;

        if(error === "true"){
            $("#data-guest").css("display","none");
            $("#not-found").html("Data NFC tag not found");
        }else{

            $("#not-found").html("");
            $("#data-guest").css("display","block");
            $("#nfcId").val(dataScan.nfcIc);
            $("#name").val(dataScan.name);
            $("#address").val(dataScan.address);
            $("#phone").val(dataScan.phone);

            if(transaction === null || typeof transaction ==="undefined" || transaction === 2){
                $("#check-out").css("display","none");
                $("#check-in").css("display","block");
                $("#check-in").attr("data-url","/user/guest-action/check-in/"+dataScan.nfcIc);
            }else{
                $("#check-out").css("display","block");
                $("#check-in").css("display","none");
                $("#check-out").attr("data-url","/user/guest-action/check-out/"+dataScan.nfcIc);
            }

            $( document ).ready(function() {
                $("#check-in").on("click", function () {
                    var url = $(this).data("url");

                    $.ajax({
                        url: url,
                        type: "GET",
                        success: function (data) {
                            alert("Success Check In");
                            $("#check-out").css("display","block");
                            $("#check-in").css("display","none");
                        }
                    });
                });

                $("#check-out").on("click", function () {
                    var url = $(this).data("url");
                    $.ajax({
                        url: url,
                        type: "GET",
                        success: function (data) {
                            alert("Success Check Out");
                            location.href = '/user/';
                        }
                    });
                });

            });
        }

        
    });
</script> 
<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Scan NFC Page</h1>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-md-6">
        <p>
            <h4>Please place,chip Below</h4>
        </p>
        <h6 id="not-found"></h6>
        <div class="row" id="data-guest" style="display:none">
            <div class="col-md-12">
                <form method="POST" action="/user/receipt">
                    <div class="form-group row">
                        <label for="nfcId" class="col-sm-2 col-form-label">NFCID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly name="nfcId" id="nfcId">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly name="name" id="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly name="address" id="address">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly name="phone" id="phone">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="receipt">Guest Action</label>
                                <a href="#" class="btn btn-success" id="check-in">Check In</a>
                                <a href="#" class="btn btn-danger" id="check-out" style="display: none;" >Check Out</a>
                            </div>
                            
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="receipt">Receipt</label>
                                <input type="text" class="form-control" name="receipt" id="receipt" value="" placeholder="Receipt" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Receipt</button>
                        </div>
                    </div>
                    
                </form>
            </div>

        </div>
    </div>
</div>
