
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="/user/update" enctype="multipart/form-data">
                <div class="row"  style="margin: 20px 0px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nfcId">NFC ID</label>
                            <input type="hidden" name="id" value="<%= results.guestId %>">
                            <input type="text" class="form-control" name="nfcId" id="nfcId" value="<%= results.nfcIc %>">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name"  placeholder="Name" value="<%= results.name %>">
                        </div>

                        <button type="submit" class="btn btn-success" id="button">Update</button>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>