<%- include ../layouts/header.ejs %>

<script>
	var socket = io();
	socket.on('nfcId', function(data){

		var error = data.error;
		var message = data.message;
		var dataScan = data.data;

		$("#data").html("test" +JSON.stringify(data));

//		if(error === "true"){
//			$("#data-guest").css("display","none");
//			$("#not-found").html("Data NFC tag not found");
//		}else{
//			$("#not-found").html("");
//			$("#data-guest").css("display","block");
//			$("#nfcId").val(dataScan.nfcIc);
//
//		}


	});
</script>

<div id="data"></div>

<%- include ../layouts/footer.ejs %>
