<%- include ../layouts/header.ejs %>
    <div class="row">
        <div class="col-md-12">
            <% if (messages.error){ %>
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong><%- messages.error %></strong>
                </div>
            <% } %>
            <h1><%= title %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
<%- include ../layouts/footer.ejs %>