<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, quo harum quis possimus doloremque eum minus maxime expedita quas obcaecati facilis qui explicabo impedit eius quaerat? Soluta eos repellat laborum?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, quo harum quis possimus doloremque eum minus maxime expedita quas obcaecati facilis qui explicabo impedit eius quaerat? Soluta eos repellat laborum?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, quo harum quis possimus doloremque eum minus maxime expedita quas obcaecati facilis qui explicabo impedit eius quaerat? Soluta eos repellat laborum?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, quo harum quis possimus doloremque eum minus maxime expedita quas obcaecati facilis qui explicabo impedit eius quaerat? Soluta eos repellat laborum?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, quo harum quis possimus doloremque eum minus maxime expedita quas obcaecati facilis qui explicabo impedit eius quaerat? Soluta eos repellat laborum?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, quo harum quis possimus doloremque eum minus maxime expedita quas obcaecati facilis qui explicabo impedit eius quaerat? Soluta eos repellat laborum?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, quo harum quis possimus doloremque eum minus maxime expedita quas obcaecati facilis qui explicabo impedit eius quaerat? Soluta eos repellat laborum?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, quo harum quis possimus doloremque eum minus maxime expedita quas obcaecati facilis qui explicabo impedit eius quaerat? Soluta eos repellat laborum?</p>
    <p><button onclick="window.open()">Print page</button></p>
</body>
</html>